@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.col-lg-8 {
  padding: 2rem;
}

span.fs-4 {
  font-size: 2.5rem;
}

/* header */
header {
  border-bottom: 1px solid rgb(222, 226, 230);
  padding-bottom: 1rem;
}
header > a {
  text-decoration: none;
  color: black;
}
header > a {
  /* border: 1px dotted red; */
  display: flex;
  align-items: center;
}

/* main */
main {
  padding-top: 5rem;
}

main > h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

p.fs-5 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

main > .mb-5 {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

main > .mb-5 > a {
  font-size: 2rem;
  text-decoration: none;
  background-color: rgb(12, 110, 253);
  color: white;
  padding: 1.5rem;
  border-radius: 1rem;
}

hr {
  border: 1px solid gray;
  width: 30%;
}

div > .col-md-6 {
  margin-top: 6rem;
}
div > h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

div > p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 6rem;
  border-top: 1px solid gray;
  padding: 5rem 0rem;
  text-align: left;
  font-size: 1.5rem;
}

/* div.flex * {
  border: 0.1rem solid gray;
} */
@media only all and (min-width: 760px) {
  /* div.col-md-6 {
    width: 48%;
    background-color: lightblue;
    display: inline-block;
  } */
  main > div.flex {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.col-md-6 {
    /* width: 48%; */
    flex-basis: 48%;
    flex-grow: 1;
  }
}
